<p>Do you make things in or around the city of Grand Rapids? We'd love to feature your product and company on this site.<p>

<p>We just have a few requirements:</p>

<ol>
  <li>If featuring a product, over 50% of the creation process must happen in greater Grand Rapids.</li>
  <li>If featuring a company, over 50% of your building operations must happen in greater Grand Rapids.</li>
  <li>Somewhere on your website you should make clear that you build in Grand Rapids.</li>
  <li>To feature the logo of your company, we ask that you link back to this site. The easiest way is to make your Made in GR text link back here.</li>
</ol>

<p>Ready? Click here and fill out this form. We'll add your company or product as quickly as we can.</p>