<p>This list is a work in progress. Do you or someone you know make things in the city of Grand Rapids? I'd love to feature it on this site!<p>

<p>There are just a few requirements:</p>

<ul>
  <li>50% or more of the creation process must happen in greater Grand Rapids. We know this can be hard to calculate, but we'll take your word for it.</li>
  <li>Somewhere on your website you should make clear that your creation process happens in Grand Rapids.</li>
</ul>

<p>This isn't a requirement, but I'd also love if you would link back here from your own website. A great place to put the link is on text that says 'Made in Grand Rapids' or something similar.</p>

<p>Ready? <a href="https://docs.google.com/spreadsheet/viewform?formkey=dHRGSDhpSlhhbG1oV0QyVzlvTzBid2c6MQ">Click here and fill out this form</a>. I'll add your company or product as quickly as we can.</p>

<p>(I reserve the right to remove any company or product at any time and at my own discretion. The most likely reason I would do this, though, is if it turns out a company or product is actually not made or located in greater Grand Rapids.)</p>