@import "compass/utilities/general/clearfix";
@import "compass/css3/border-radius";
@import "compass/css3/text-shadow";
@import "compass/css3/font-face";
@import "compass/css3/images";

@font-face {
  font-family: 'League Gothic';
  src: url('League_Gothic-webfont.eot);
  src: local(‚ò∫'),
       url('League_Gothic-webfont.woff') format('woff'),
       url('League_Gothic-webfont.ttf') format('truetype'),
       url('League_Gothic-webfont.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}


html,
body {
  height: 100%;
}

p {
  margin: 0;
}

.content {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  margin: 0;
}

.wrapper {
  min-height: 100%;
}

.main {
  overflow:auto;
  padding-bottom: 100px; /* Should be the same as the footer height. */
}

footer {
  clear: both;
  font-size: 0.8em;
  text-align: center;
  background-color: #222601;
  padding: 20px;
  height: 100px;
  margin-top: -100px;
  a {
    border-bottom: 1px dotted #ececec;
  }
  a:hover {
    text-decoration: none;
    border-bottom: 1px solid #ececec;
  }
}

body {
  font: 16px/1.5 'Open Sans', helvetica-neue, helvetica, arial, san-serif;
  background: white;
  color: #ececec;
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: #ccc;
  text-decoration: none;
}

a:hover {
  color: #ececec;
  text-decoration: underline;
}

header {
  padding: 20px 0;
  overflow: hidden;
  text-align: center;
}

.banner img {
  max-width: 100%;
}

section {
  max-width: 100%;
}

#about {
  @include clearfix;
  background-color: #96BFD9;
  font-size: 28px;
  color: white;
  font-weight: 600;
  text-shadow: 0px -1px 0px #53768C;
  text-align: center;
  a {
    color: white;
    text-decoration: none;
    border-bottom: 1px dotted white;
  }
  a:hover {
    text-decoration: none;
    border-bottom: 1px solid white;
  }
  nav {
    text-shadow: none;
  }
  #tell, #help {
    display: none;
    font-size: 24px;
    text-align: left;
    color: #354B59;
    text-shadow: none;
  }
  p {
    margin: 25px 0;
  }
  .content {
    padding: 0 10px;
    max-width: 820px;
  }
}

#about-links {
  text-align: center;
  height: 88px;
  text-transform: uppercase;
  font-weight: 800;
  a {
    margin-top: 20px;
    font-weight: bold;
    display: inline-block;
    color: #354B59;
    width: 400px;
    text-decoration: none;
    border-bottom: none;
  }
  a:hover, a.active  {
    border-bottom: none;
    color: white;
  }
  li {
    float: left;
    display: inline-block;
    list-style: none;
  }
}

#top-gradient, #bottom-gradient {
  height: 5px;
}

#top-gradient {
  @include background-image(linear-gradient(#6B8899, #96BFD9));
}

#bottom-gradient {
  @include background-image(linear-gradient(#96BFD9, #6B8899));
}

.accordion {
  display: none;
  padding: 0;
  &#about {
    display: block;
  }
  p, ol, ul {
    max-width: 800px;
    margin: 10px auto;
  }
}

#filters {
  text-align: center;
  ul {
    margin: 0 auto;
  }
  li {
    font: 2.8em/1.5em bold 'League Gothic', helvetica-neue, helvetica, arial, san-serif;
    text-transform: uppercase;
    display: inline-block;
    list-style: none;
  }
  a {
    display: block;
    color: #858F95;
    padding: 10px 20px;
  }
  a:hover, a.active {
    text-decoration: none;
    color: #D9583B;
  }
}

#card-wrapper {
  background-color: #D9583B;
  max-width: 100%;
}

#cards {
  text-align: center;
  margin: 0 auto;
  padding: 10px 0;
}

.card {
  width: 250px;
  margin: 10px;
  padding: 10px;
  background-color: white;
  @include border-radius(10px, 10px);
  float: left;
  img {
    max-width: 250px;
    margin-bottom: -6px; // A bit of a hack, not sure where the 6px bottom margin is coming from.
  }

  .inner-card {
    @include border-radius(10px, 10px);
  }

  .black {
    padding: 10px;
    background-color: black;
    @include border-radius(10px, 10px);
    img {
      max-width: 230px;
    }
  }

  .round-corners img {
    @include border-radius(10px, 10px);
  }
}